


</script> 
 <nav class="navbar navbar-default navbar-fixed-top probootstrap-navbar">
      <div class="container">
        <div class="navbar-header">
          <!-- <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button> -->
          <% if not @logoatv.nil? %> 
            <% if not @logoatv.first.nil? %>
              <a class="brand-logo" href="<%= root_url %>">
                <%= image_tag(@logoatv.first.image.url,  :class => "brand-logo")  %>
              </a>
            <% end %>
          <% end %>
        </div>

        <div id="navbar-collapse" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li class="active"><a href="#" data-nav-section="welcome">Bem Vindo</a></li>
            <li><a href="#" data-nav-section="events">Eventos</a></li>
            <li><a href="#" data-nav-section="menu">Menu</a></li>
            <!-- <li><a href="#" data-nav-section="reservation">Reservation</a></li> -->
            
          </ul>
        </div>
      </div>
    </nav>