<div class="wrapper">
					</br>
					</br>
					</br>
					</br>
					</br>
					</br>
					</br>
					</br>
					<!-- content -->
					<div id="content " align="center">
						
						<!-- title -->
						<div id="page-title">
							<h3>Contate-nos</h3>
							<span class="subtitle"></span>
						</div>
						<!-- ENDS title -->
							
						<!-- column (left)-->
						<div class="one-column">
							<!-- form -->
							<div class="desc"><%if not @logoatv.nil?%><%if not @logoatv.first.contatoEnd.nil?%><%= @logoatv.first.contatoEnd.html_safe%><%end%><%end%></div>
						</div>
					</div>
					<!-- ENDS content -->
					</br>
					</br>
					</br>
					</br>
					</br>
					</br>
					</br>
					</br>
					</br>

</div>