
<% content_for :title do %>
  <%= "Festival de Inverno" %>
<% end %>

<div class="festival_container_home">
  <div class="section-title">
    <h1 class="title">   <%if not @feira.nil?%><%= @feira.title%><%end%> </h1>
    <div class="section-title-line"> ∎ </div>
  </div>
  </br>
  <div class="plain-text" style="width:75%;margin-left:15%">
    <%if not @feira.nil?%><%if not @feira.description.nil?%><%= @feira.description.html_safe%><%end%><%end%>
    
  </div>
  </br>
</div>